<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for team in teams %}
    <h3>Team name : {{team.country_name}}</h3>
    {% if team.total_runs >= 1 or team.total_overs != '0.0'  %}
    <p>Score : {{team.total_runs}}</p>
    <p>Wickets : {{team.total_wickets}}</p>
    <p>Overs : {{team.total_overs}}</p>
    {% else %}
    <p>[Yet to Bat]</p>
    {% endif %}
    {% endfor %}
    <form action="{% url 'score_changing' %}" method="post">
        {% csrf_token %}
        <input type="submit" name="4" value="4">
        <input type="submit" name="w" value="WICKET">
        <input type="submit" name="6" value="6">
        <input type="submit" name="1" value="1">
        <input type="submit" name="2" value="2">
        <input type="submit" name="3" value="3">
        <input type="submit" name="wd" value="wd">
        <input type="submit" name="nb" value="nb">
    </form>
    <form action="{% url 'reset_scorecard' %}">
        <input type="submit" value="RESET">
    </form>
</body>
</html>