<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>TO - DO</h3>
    <ul>
        {% for task_ in todo_list %}
        {% if task_.priority == 'High' %}
        <li>{{task_.task}} - <p style="color: red;">RED</p></li><a href="{% url 'edit_todo' task_.id %}">Edit</a>&nbsp;<a href="{% url 'delete_todo' task_.id %}">Delete</a>
        {% elif task_.priority == 'Medium' %}
        <li>{{task_.task}} - <p style="color:black;">BLACK</p></li><a href="{% url 'edit_todo' task_.id %}">Edit</a>&nbsp;<a href="{% url 'delete_todo' task_.id %}">Delete</a>
        {% elif task_.priority == 'Low' %}
        <li>{{task_.task}} - <p style="color:blue;">BLUE</p></li><a href="{% url 'edit_todo' task_.id %}">Edit</a>&nbsp;<a href="{% url 'delete_todo' task_.id %}">Delete</a>
        {% endif %}
        {% endfor %}
    </ul>
</body>
</html>