<!DOCTYPE html>
<html>
    <body>
        <h1>Student Intake Form</h1>
        <form method="POST" action="{% url 'add_student' %}">
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="roll_no">Roll Number</label>
            <input type="text" id="roll_no" name="roll_no">
            <label for="course">Course</label>
            <input type="text" id="course" name="course">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>