<!DOCTYPE html>
<html>
    <body>
        <h1>{{mark.student.name}}</h1>
        <form action="{% url 'edit_mark' mark.student.id mark.id %}" method="POST">
            {% csrf_token %}
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" value="{{mark.subject}}">
            <label for="score">Score</label>
            <input type="text" id="score" name="score" value="{{mark.score}}">
            <input type="submit" name="edit" value="EDIT">
            <input type="submit" name="delete" value="DELETE">
        </form>
        <p>
            <a href="{% url 'student_detail' mark.student.id %}">BACK</a>
        </p>
    </body>
</html>